<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Добро пожаловать{% endblock %}</title>
    <meta name="keywords"
          content="{% block keywords %}Блог{% endblock %}"/>
    <meta name="description"
          content="{% block description %}Блог{% endblock %}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/symfony_blog.css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
