{% extends 'page.html.twig' %}

{% block page_title %}Редактирование блока{% endblock %}

{% block head %}
    <h1 class="logo">Блог {{ user }}</h1>
{% endblock %}

{% block main %}

    {{ form(form_edit_blog) }}

{% endblock %}
{% block javascripts %}
    <script src="/scripts/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'form_summary' );
        CKEDITOR.replace( 'form_body' );
    </script>
{% endblock %}