{% extends 'base.html.twig' %}

{% block title %}Редактирование блока{% endblock %}

{% block head %}
    <h1 class="logo">Блог {{ user }}</h1>
{% endblock %}

{% block body %}

    {{ form(form_edit_blog) }}

{% endblock %}