.main-view-admin{
  .menu-item{
    a{
      color: $orange;
      text-decoration: none;
    }
  }
  .blog-view-admin{

    .field-row{
      margin-bottom: 20px;
      .field{
        display: inline-block;
      }

    }
    .field-title{
      width: calc(90% - 4px);
        color: $title;
        font-size:18px;

    }
    .field-blog-edit{
      width: 10%;
      a{
        color: $orange;
        text-decoration: none;
      }
      text-align: right;
    }
  }

}